# Tract to Zip Transformation

### Trying to convert the census tract to zip code data

In [38]:
import pandas as pd
import numpy as np
tract_z = pd.read_excel('ZIP_TRACT_032010.xlsx')

In [12]:
clus = pd.read_csv('cluster_pca2_copy.csv')

In [14]:
bx = pd.read_pickle('bx2_gpd.pkl')

In [13]:
clus.head()

   Unnamed: 0      TRACTID      cluster
0           0  36005000200       Stable
1           1  36005000400  Gentrifying
2           2  36005001600       Stable
3           3  36005001900  Gentrifying
4           4  36005002000  Gentrifying

In [15]:
bx.head()

,TRACTID,state,POP10_POP00_%,NHWHT10%_NHWHT00%,NHBLK10%_NHBLK00%,NTV10%_NTV00%,ASIAN10%_ASIAN00%,HISP10%_HISP00%,HAW10%_HAW00%,INDIA10%_INDIA00%,...,OLANG12%_OLANG00%,PROF12%_PROF00%,RUANC12%_RUANC00%,RUFB12%_RUFB00%,SCANC12%_SCANC00%,SCFB12%_SCFB00%,SEMP12%_SEMP00%,UNEMP12%_UNEMP00%,VET12%_VET00%,WDS12%_WDS00%
0,36005000100,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,36005000200,NY,22.256700,-49.122660,2.573296,22.692663,348.237194,-0.644172,0.0,203.810403,...,-6.325945,15.352474,0.0,0.0,0.0,0.0,-27.864742,56.251886,-30.017942,10.642324
2,36005000400,NY,66.053108,-34.586777,11.385660,-6.321804,-10.730190,0.280476,0.0,15.129715,...,-1.180914,89.523403,0.0,0.0,0.0,0.0,132.151767,-18.746882,-37.978389,-1.541920
3,36005001600,NY,7.752530,-27.611909,5.883646,-10.906964,-3.880282,-0.569888,0.0,22.742421,...,-5.462912,9.436878,-100.0,0.0,-100.0,0.0,95.033353,-72.389364,-47.443458,-4.264159
4,36005001900,NY,21.022727,69.798277,-11.932458,-8.189880,48.732394,-0.711123,0.0,-64.587525,...,-2.872925,136.552423,0.0,0.0,0.0,0.0,139.456688,-61.000967,-14.107097,5.472709

In [39]:
tract_z.head()

   ZIP        TRACT  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  501  36103158607   0.000000   1.000000   0.000000   1.000000
1  544  36103158607   0.000000   1.000000   0.000000   1.000000
2  601  72001956300   0.004316   0.005063   0.000000   0.004310
3  601  72001956600   0.728760   0.448101   0.546667   0.703202
4  601  72001956700   0.266924   0.546835   0.453333   0.292488

In [43]:
tract_count = tract_z.groupby('TRACT')['ZIP'].value_counts()

In [45]:
tract_count.head(10)

TRACT       ZIP
1001020100  36067    1
1001020200  36008    1
            36067    1
1001020300  36067    1
1001020400  36066    1
            36067    1
1001020500  36066    1
            36067    1
1001020600  36067    1
1001020700  36067    1
Name: ZIP, dtype: int64

In [46]:
zip_count = tract_z.groupby('ZIP')['TRACT'].value_counts()

In [47]:
zip_count.head(10)

ZIP  TRACT
501  36103158607    1
544  36103158607    1
601  72001956300    1
     72001956600    1
     72001956700    1
602  72003430200    1
     72003430300    1
603  72005400300    1
     72005400400    1
     72005400500    1
Name: TRACT, dtype: int64

In [17]:
bx = bx[['TRACTID','state']]
clus = clus[['TRACTID','cluster']]
tract_z = tract_z[['ZIP','TRACT','RES_RATIO']]

In [18]:
bx.head()

       TRACTID state
0  36005000100    NY
1  36005000200    NY
2  36005000400    NY
3  36005001600    NY
4  36005001900    NY

In [19]:
clus.head()

       TRACTID      cluster
0  36005000200       Stable
1  36005000400  Gentrifying
2  36005001600       Stable
3  36005001900  Gentrifying
4  36005002000  Gentrifying

In [31]:
tract_z.head()

   ZIP      TRACTID  RES_RATIO
0  501  36103158607   0.000000
1  544  36103158607   0.000000
2  601  72001956300   0.004316
3  601  72001956600   0.728760
4  601  72001956700   0.266924

In [30]:
tract_z.rename(columns={'TRACT':'TRACTID'},inplace=True)

AttributeError: 'NoneType' object has no attribute 'copy'

In [32]:
tract_z['TRACTID'] = tract_z['TRACTID'].astype(str)

<ipython-input-32-072ea32e9dbc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tract_z['TRACTID'] = tract_z['TRACTID'].astype(str)

In [33]:
tract_z.dtypes

ZIP           object
TRACTID       object
RES_RATIO    float64
dtype: object

In [25]:
clus['TRACTID'] = clus['TRACTID'].astype(str)

In [24]:
bx.dtypes

TRACTID    object
state      object
dtype: object

In [27]:
bx = bx.merge(clus,on = 'TRACTID',how = 'left')

In [34]:
bx = bx.merge(tract_z,on = 'TRACTID', how = 'left')

In [4]:
tract_z.ZIP.value_counts()

60609    58
60647    54
60608    52
11236    46
11207    46
         ..
33744     1
50136     1
64479     1
74724     1
18441     1
Name: ZIP, Length: 36102, dtype: int64

In [5]:
tract_z.TRACT.value_counts()

11001006202    46
11001005800    20
8123002501     19
2050000100     18
36001001100    16
               ..
12099005401     1
17043842000     1
36081017800     1
20091051400     1
29189218300     1
Name: TRACT, Length: 65755, dtype: int64

In [6]:
tract_z.dtypes

ZIP            int64
TRACT          int64
RES_RATIO    float64
BUS_RATIO    float64
OTH_RATIO    float64
TOT_RATIO    float64
dtype: object

In [35]:
tract_z.dtypes

ZIP           object
TRACTID       object
RES_RATIO    float64
dtype: object

In [37]:
bx.head()

       TRACTID state      cluster    ZIP  RES_RATIO
0  36005000100    NY          NaN    NaN        NaN
1  36005000200    NY       Stable  10473   0.045698
2  36005000400    NY  Gentrifying  10473   0.072402
3  36005001600    NY       Stable  10473   0.093606
4  36005001900    NY  Gentrifying    NaN        NaN