# Tract to Zip Transformation

### Trying to convert the census tract to zip code data

Load the three data sets I need. 

Tract_z contains the conversion chart for census tract to zip code.  
Clus contains the cluster classification for the census tracts.  
Bx contains the census tracts that fall in the Bronx.

In [45]:
import pandas as pd
import numpy as np
tract_z = pd.read_excel('ZIP_TRACT_032010.xlsx')

clus = pd.read_csv('cluster_pca2_copy.csv')

bx = pd.read_pickle('bx2_gpd.pkl')

In [46]:
clus.head()

   Unnamed: 0      TRACTID      cluster
0           0  36005000200       Stable
1           1  36005000400  Gentrifying
2           2  36005001600       Stable
3           3  36005001900  Gentrifying
4           4  36005002000  Gentrifying

In [47]:
bx.head()

,TRACTID,state,POP10_POP00_%,NHWHT10%_NHWHT00%,NHBLK10%_NHBLK00%,NTV10%_NTV00%,ASIAN10%_ASIAN00%,HISP10%_HISP00%,HAW10%_HAW00%,INDIA10%_INDIA00%,...,OLANG12%_OLANG00%,PROF12%_PROF00%,RUANC12%_RUANC00%,RUFB12%_RUFB00%,SCANC12%_SCANC00%,SCFB12%_SCFB00%,SEMP12%_SEMP00%,UNEMP12%_UNEMP00%,VET12%_VET00%,WDS12%_WDS00%
0,36005000100,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,36005000200,NY,22.256700,-49.122660,2.573296,22.692663,348.237194,-0.644172,0.0,203.810403,...,-6.325945,15.352474,0.0,0.0,0.0,0.0,-27.864742,56.251886,-30.017942,10.642324
2,36005000400,NY,66.053108,-34.586777,11.385660,-6.321804,-10.730190,0.280476,0.0,15.129715,...,-1.180914,89.523403,0.0,0.0,0.0,0.0,132.151767,-18.746882,-37.978389,-1.541920
3,36005001600,NY,7.752530,-27.611909,5.883646,-10.906964,-3.880282,-0.569888,0.0,22.742421,...,-5.462912,9.436878,-100.0,0.0,-100.0,0.0,95.033353,-72.389364,-47.443458,-4.264159
4,36005001900,NY,21.022727,69.798277,-11.932458,-8.189880,48.732394,-0.711123,0.0,-64.587525,...,-2.872925,136.552423,0.0,0.0,0.0,0.0,139.456688,-61.000967,-14.107097,5.472709

In [48]:
tract_z.head()

   ZIP        TRACT  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  501  36103158607   0.000000   1.000000   0.000000   1.000000
1  544  36103158607   0.000000   1.000000   0.000000   1.000000
2  601  72001956300   0.004316   0.005063   0.000000   0.004310
3  601  72001956600   0.728760   0.448101   0.546667   0.703202
4  601  72001956700   0.266924   0.546835   0.453333   0.292488

Group the information from the census tract conversion to see how the census tracts are situated in a zip code.   
  
We will see if census tracts straddle zip codes and if zip codes are straddled or completely contain multiple census tracts.

In [49]:
tract_count = tract_z.groupby(['TRACT'])['ZIP'].value_counts()

In [73]:
tract_res = tract_z.groupby(['TRACTID','RES_RATIO'])['ZIP'].value_counts()

In [75]:
tract_res.head(10)

TRACTID      RES_RATIO  ZIP
10001040100  0.000000   19955    1
             0.019005   19977    1
             0.034414   19904    1
             0.037160   19953    1
             0.605191   19938    1
10001040201  0.119568   19977    1
             0.161475   19938    1
10001040202  0.000466   19901    1
             0.035646   19904    1
             0.165574   19938    1
Name: ZIP, dtype: int64

In [50]:
tract_count.head(10)

TRACT       ZIP
1001020100  36067    1
1001020200  36008    1
            36067    1
1001020300  36067    1
1001020400  36066    1
            36067    1
1001020500  36066    1
            36067    1
1001020600  36067    1
1001020700  36067    1
Name: ZIP, dtype: int64

In [51]:
zip_count = tract_z.groupby('ZIP')['TRACT'].value_counts()

In [52]:
zip_count.head(10)

ZIP  TRACT
501  36103158607    1
544  36103158607    1
601  72001956300    1
     72001956600    1
     72001956700    1
602  72003430200    1
     72003430300    1
603  72005400300    1
     72005400400    1
     72005400500    1
Name: TRACT, dtype: int64

In [70]:
zip_count = zip_count.to_frame()

In [71]:
zip_count.head()

                 TRACT
ZIP TRACT
501 36103158607      1
544 36103158607      1
601 72001956300      1
    72001956600      1
    72001956700      1

In [53]:
bx = bx[['TRACTID','state']]
clus = clus[['TRACTID','cluster']]
tract_z = tract_z[['ZIP','TRACT','RES_RATIO']]

In [54]:
bx.head()

       TRACTID state
0  36005000100    NY
1  36005000200    NY
2  36005000400    NY
3  36005001600    NY
4  36005001900    NY

In [55]:
clus.head()

       TRACTID      cluster
0  36005000200       Stable
1  36005000400  Gentrifying
2  36005001600       Stable
3  36005001900  Gentrifying
4  36005002000  Gentrifying

In [56]:
tract_z.head()

   ZIP        TRACT  RES_RATIO
0  501  36103158607   0.000000
1  544  36103158607   0.000000
2  601  72001956300   0.004316
3  601  72001956600   0.728760
4  601  72001956700   0.266924

In [57]:
tract_z.rename(columns={'TRACT':'TRACTID'},inplace=True)

In [58]:
tract_z['TRACTID'] = tract_z['TRACTID'].astype(str)
tract_z['ZIP'] = tract_z['ZIP'].astype(str)

In [59]:
tract_z.dtypes

ZIP           object
TRACTID       object
RES_RATIO    float64
dtype: object

In [60]:
clus['TRACTID'] = clus['TRACTID'].astype(str)

In [61]:
bx.dtypes

TRACTID    object
state      object
dtype: object

In [62]:
clus = clus.merge(bx,on = 'TRACTID',how = 'inner')

In [ ]:
#bx = bx.merge(tract_z,on = 'TRACTID', how = 'left')

In [63]:
clus.head()

       TRACTID      cluster state
0  36005000200       Stable    NY
1  36005000400  Gentrifying    NY
2  36005001600       Stable    NY
3  36005001900  Gentrifying    NY
4  36005002000  Gentrifying    NY

In [64]:
clus.shape

(326, 3)

In [65]:
clus.cluster.value_counts()

Stable         259
Mixture         41
Gentrifying     26
Name: cluster, dtype: int64

In [22]:
bx.shape

(338, 3)

In [ ]:
tract_z.ZIP.value_counts()

In [ ]:
tract_z.TRACT.value_counts()

In [ ]:
tract_z.dtypes

In [ ]:
tract_z.dtypes

In [ ]:
bx.head()